@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-animation-to-main-app {
  scroll-behavior: smooth;
  animation: main-component-animation 1 2s normal;
}

@keyframes main-component-animation {
  from {
    padding: 100%;
  }
  to {
    padding: 0%;
  }
}

.add-animation-to-navigation-menu-to-top {
  scroll-behavior: smooth;
  animation: navigation-component 1 0.5s reverse;
}

@keyframes navigation-component {
  from {
    height: 35%;
  }
  to {
    height: 0%;
  }
}
